@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
:root{
    --Dark1: #012A4A;
    --Dark2: #013A63;
    --Dark3: #01497C;
    --Dark4: #014F86;
    --Dark5: #2A6F97;
    --Light1: #2C7DA0;
    --Light2: #468FAF;
    --Light3: #61A5C2;
    --Light4: #89C2D9;
    --Light5: #A9D6E5;
    --White: #e7e7e7;
}
body{
    margin: 0;
    padding: 0;
    background-color: var(--White);
}

.workspace{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100vh;
}
.workspace>aside{
    background-color: whitesmoke;
    box-shadow: 0px 2px 10px 1px rgba(0,0,0,0.5);
    /*background: linear-gradient(175deg, var(--Dark2) 30%, var(--Dark1) 100%);*/
    height: 100%;
    /*box-shadow:2px 0px 3px 1px var(--Dark1);*/
    z-index: 7;
}
@media only screen and (max-width:600px){
    .workspace>aside{
        /*background-color: var(--Dark2);*/
        width: 100%;
        height: 100%;
        position:absolute;
    }
}
@media only screen and (min-width:600px){
    .workspace>aside{
        /*background-color: var(--Dark2);*/
        width: 350px;
        height: 100%;
    }
}
.burger-container{
    background-image: url("../icons/menu_25dp_E7E7E7_FILL0_wght400_GRAD0_opsz24.svg");
    background-size: auto;
    background-position: center;
    background-repeat: no-repeat;
    border-radius:15px;
    padding: 0;
    width: 40px;
    height: 40px;
    /*background-color: var(--Dark2);*/
    /*box-shadow: 2px 2px 5px 0px var(--Dark1), -2px -2px 5px 0px var(--Dark4);*/
    background-color: var(--Dark1);
    position:fixed;
    margin-top:10px;
    margin-left: 15px;
    z-index: 10;
}
.burger-container:hover{
    background-color: var(--Dark3);
    cursor: pointer;
}
.burger-container:active{
    background-color: var(--Dark3);
}

.workspace>main{
    width: 100%;
    height: 100%;
}